
<head>
  <meta charset="utf-8">
  <title>Next Challenge</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link rel="stylesheet" 
        href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin="">
  </script>

  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
 
  <style>
    #map { width: 100%; height: 420px; z-index: 7; }
  </style>
</head>

<body>

<!--==========================
Header
============================-->
<header id="header" class="fixed-top">
  <div class="container">

    <div class="logo float-left">
      <!-- Uncomment below if you prefer to use an image logo -->
      <h1 class="text-light"><a href="#header"><span><%= t 'header'%></span></a></h1> 
      <%# <a href="#intro" class="scrollto">= image_tag ("img/logo1.png"), class: "img-fluid"</a> %>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li class="active"><a href="#intro"><%= t 'main_nav.home'%></a></li>
        <li><a href="#about"><%= t 'main_nav.about_us'%></a></li>
        <li><a href="#services"><%= t 'main_nav.services'%></a></li>
        <li><a href="#portfolio"><%= t 'main_nav.portfolio'%></a></li>
        <li><a href="#team"><%= t 'main_nav.technologies'%></a></li>
        <li><a href="#contact"><%= t 'main_nav.contact_us'%> &emsp; </a></li>

        
        <li class="drop-down"><a href=""><i class="fa fa-language fa-lg" aria-hidden="true"></i></a>
          <ul>
            <li><a href="<%= root_path(locale: :en) %>"><%= image_tag ("img/united-states.png"), style: 'height:20%; width:20%;'%>&ensp;<%= t 'main_nav.language.english'%></a></li>
            <li><a href="<%= root_path(locale: :fr) %>"><%= image_tag ("img/france.png"), style: 'height:20%; width:20%;'%>&ensp;<%= t 'main_nav.language.frensh'%>&nbsp;</a></li>
            <li><a href="<%= root_path(locale: :ar) %>"><%= image_tag ("img/algeria.png"), style: 'height:20%; width:20%;'%>&ensp;<%= t 'main_nav.language.arabic'%>&nbsp;</a></li>
            
          </ul>
        </li>  
        
      </ul>
    </nav><!-- .main-nav -->

  </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">
  <div class="container">

    <div class="intro-img">
      <%= image_tag ("img/undraw_Outer_space_re_u9vd.svg"), class: "img-fluid", style: 'height:80%; width:90%;'%>
    </div>

    <div class="intro-info">
      <h2><%= t 'intro_info.provide'%><br><span><%= t 'intro_info.solution'%></span><br><%= t 'intro_info.business'%></h2>
      <div>
        <a href="#about" class="btn-get-started scrollto"><%= t 'btn_get_started'%></a>
        <a href="#services" class="btn-services scrollto"><%= t 'btn_services'%></a>
      </div>
    </div>

  </div>
</section><!-- #intro -->

<main id="main">

  <!--==========================
    About Us Section
  ============================-->
  <section id="about">
    <div class="container">

      <header class="section-header">
        <h3><%= t 'section_about.about_us'%></h3>
        <p><%= t 'section_about.p'%></p>
      </header>

      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <p>
            <%= t 'section_about.introduction.p'%>
          </p>

          <div class="icon-box wow fadeInUp">
            <div class="icon"><%= image_tag ("img/ux.png"), class: "img-fluid"%></div>
            <h4 class="title"><a href=""><%= t 'section_about.introduction.front_title'%></a></h4>
            <p class="description"><%= t 'section_about.introduction.front_description'%></p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><%= image_tag ("img/data-server.png"), class: "img-fluid"%></div>
            <h4 class="title"><a href=""><%= t 'section_about.introduction.back_title'%></a></h4>
            <p class="description"><%= t 'section_about.introduction.back_description'%></p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon"><%= image_tag ("img/devops.png"), class: "img-fluid"%></div>
            <h4 class="title"><a href=""><%= t 'section_about.introduction.devops_title'%></a></h4>
            <p class="description"><%= t 'section_about.introduction.devops_description'%></p>
          </div>

        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
          <%= image_tag ("img/about-img.svg"), class: "img-fluid"%>
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp">
          <%= image_tag ("img/undraw_Code_thinking_re_gka2.svg"), class: "img-fluid", style: 'height:100%; width:100%;'%>
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <h4><%= t 'section_about.experience.h4'%></h4>
          <p>
            <%= t 'section_about.experience.p'%>
          </p>
          <p>
           
          </p>
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
          <%= image_tag ("img/undraw_version_control_re_mg66.svg"), class: "img-fluid", style: 'height:100%; width:100%;'%>
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
          <h4 ><%= t 'section_about.principle.h4'%></h4>
          <p>
            <%= t 'section_about.principle.p'%>
          </p>
          <p>
          </p>
          <p>
          </p>
        </div>

      </div>

    </div>
  </section><!-- #about -->

  <!--==========================
    Services Section
  ============================-->
  <section id="services" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3><%= t 'section_services.services'%></h3>
        <p><%= t 'section_services.p'%></p>
      </header>

      <div class="row">

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><%= image_tag ("img/ruby.png"), style: 'height:15%; width:15%;'%></div>
            <h4 class="title"><a href=""><%= t 'section_services.title_web'%></a></h4>
            <p class="description"><%= t 'section_services.description_web'%></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><%= image_tag ("img/android.png"), style: 'height:15%; width:15%;'%></div>
            <h4 class="title"><a href=""><%= t 'section_services.title_mobile'%></a></h4>
            <p class="description"><%= t 'section_services.description_mobile'%></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><%= image_tag ("img/python.png"), style: 'height:15%; width:15%;'%></div>
            <h4 class="title"><a href=""><%= t 'section_services.title_erp'%></a></h4>
            <p class="description"><%= t 'section_services.description_erp'%></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><%= image_tag ("img/experience.png"), style: 'height:15%; width:15%;'%></div>
            <h4 class="title"><a href=""><%= t 'section_services.title_ui/ux'%></a></h4>
            <p class="description"><%= t 'section_services.description_ui/ux'%></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div  class="box">
            <div class="icon"><%= image_tag ("img/javascript.png"), style: 'height:15%; width:15%;'%></div>
            <h4 class="title"><a href=""><%= t 'section_services.title_ecommerce'%></a></h4>
            <p class="description"><%= t 'section_services.description_ecommerce'%></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><%= image_tag ("img/gnu-bash.png"), style: 'height:15%; width:15%;'%></div>
            <h4 class="title"><a href=""><%= t 'section_services.title_support'%></a></h4>
            <p class="description"><%= t 'section_services.description_support'%></p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #services -->

  <!--==========================
    Why Us Section
  ============================-->
  <section id="why-us" class="wow fadeIn">
    <div class="container">
      <header class="section-header">
        <h3><%= t 'section_why_us.h3'%></h3>
        <p><%= t 'section_why_us.p'%></p>
      </header>
<!--
      <div class="row row-eq-height justify-content-center">

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
            <i class="fa fa-diamond"></i>
            <div class="card-body">
              <h5 class="card-title">Corporis dolorem</h5>
              <p class="card-text">Deleniti optio et nisi dolorem debitis. Aliquam nobis est temporibus sunt ab inventore officiis aut voluptatibus.</p>
              <a href="#" class="readmore">Read more </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
            <i class="fa fa-language"></i>
            <div class="card-body">
              <h5 class="card-title">Voluptates dolores</h5>
              <p class="card-text">Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur.</p>
              <a href="#" class="readmore">Read more </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
            <i class="fa fa-object-group"></i>
            <div class="card-body">
              <h5 class="card-title">Eum ut aspernatur</h5>
              <p class="card-text">Autem quod nesciunt eos ea aut amet laboriosam ab. Eos quis porro in non nemo ex. </p>
              <a href="#" class="readmore">Read more </a>
            </div>
          </div>
        </div>

      </div>

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">274</span>
          <p>Clients</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">421</span>
          <p>Projects</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">1,364</span>
          <p>Hours Of Support</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">18</span>
          <p>Hard Workers</p>
        </div>

      </div>
-->
    </div>
  </section>

  <!--==========================
    Portfolio Section
  ============================-->
  <section id="portfolio" class="clearfix">
    <div class="container">

      <header class="section-header">
        <h3 class="section-title"><%= t 'section_portfolio.title'%></h3>
      </header>

      <div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">ECOMMERCE</li>
            <li data-filter=".filter-card">ERP</li>
            <li data-filter=".filter-web">WEB</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/01.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">Ecommerce</a></h4>
              <p>Ecommerce</p>
              <div>
                <a href="../01.png" data-lightbox="portfolio" data-title="" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/a1.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">WEB</a></h4>
              <p>WEB</p>
              <div>
                <a href="../a1.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/02.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">Ecommerce</a></h4>
              <p>Ecommerce</p>
              <div>
                <a href="../02.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/a.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">WEB</a></h4>
              <p>WEB</p>
              <div>
                <a href="../a.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/b.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">WEB</a></h4>
              <p>WEB</p>
              <div>
                <a href="../b.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/03.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">Ecommerce</a></h4>
              <p>Ecommerce</p>
              <div>
                <a href="../03.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

<div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/04.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">Ecommerce</a></h4>
              <p>Ecommerce</p>
              <div>
                <a href="../04.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

<div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/05.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">Ecommerce</a></h4>
              <p>Ecommerce</p>
              <div>
                <a href="../05.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

<div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/06.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">Ecommerce</a></h4>
              <p>Ecommerce</p>
              <div>
                <a href="../06.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

<div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/07.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">Ecommerce</a></h4>
              <p>Ecommerce</p>
              <div>
                <a href="../07.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

<div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/08.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">Ecommerce</a></h4>
              <p>Ecommerce</p>
              <div>
                <a href="../08.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

<div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/09.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">Ecommerce</a></h4>
              <p>Ecommerce</p>
              <div>
                <a href="../09.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

<div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/010.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">Ecommerce</a></h4>
              <p>Ecommerce</p>
              <div>
                <a href="../010.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

<div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/011.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">Ecommerce</a></h4>
              <p>Ecommerce</p>
              <div>
                <a href="../011.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/c.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">WEB</a></h4>
              <p>WEB</p>
              <div>
                <a href="../c.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/d.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">WEB</a></h4>
              <p>WEB</p>
              <div>
                <a href="../d.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

<div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/e.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">WEB</a></h4>
              <p>WEB</p>
              <div>
                <a href="../e.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

<div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/f.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">WEB</a></h4>
              <p>WEB</p>
              <div>
                <a href="../f.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/a2.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">WEB</a></h4>
              <p>WEB</p>
              <div>
                <a href="../a2.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

<div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/a3.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">WEB</a></h4>
              <p>WEB</p>
              <div>
                <a href="../a3.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

<div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/a4.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">WEB</a></h4>
              <p>WEB</p>
              <div>
                <a href="../a4.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

<div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/a5.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">WEB</a></h4>
              <p>WEB</p>
              <div>
                <a href="../a5.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/a6.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">WEB</a></h4>
              <p>WEB</p>
              <div>
                <a href="../a6.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <!--                                                                     -->
        <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/erp_01.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">ERP</a></h4>
              <p>ERP</p>
              <div>
                <a href="../erp_01.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/erp_02.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">ERP</a></h4>
              <p>ERP</p>
              <div>
                <a href="../erp_02.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/erp_03.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">ERP</a></h4>
              <p>ERP</p>
              <div>
                <a href="../erp_03.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/erp_04.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">ERP</a></h4>
              <p>ERP</p>
              <div>
                <a href="../erp_04.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/erp_05.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">ERP</a></h4>
              <p>ERP</p>
              <div>
                <a href="../erp_05.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/erp_06.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">ERP</a></h4>
              <p>ERP</p>
              <div>
                <a href="../erp_06.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/erp_07.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">ERP</a></h4>
              <p>ERP</p>
              <div>
                <a href="../erp_07.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/erp_08.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">ERP</a></h4>
              <p>ERP</p>
              <div>
                <a href="../erp_08.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/erp_09.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">ERP</a></h4>
              <p>ERP</p>
              <div>
                <a href="../erp_09.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <%= image_tag ("img/portfolio/erp_10.png"), class: "img-fluid"%>
            <div class="portfolio-info">
              <h4><a href="#">ERP</a></h4>
              <p>ERP</p>
              <div>
                <a href="../erp_10.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </div>
            </div>
          </div>
        </div>
        <!--                                                                     -->


      </div>

    </div>
  </section>

  <!--==========================
    Quotes Section
  ============================-->
  <section id="testimonials" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3><%= t 'section_quotes.h3'%></h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-12">

          <div class="owl-carousel testimonials-carousel wow fadeInUp">

            <div class="testimonial-item">
              <h3><%= t 'section_quotes.testimonial.a.h3'%></h3>
              <h4><%= t 'section_quotes.testimonial.a.h4'%></h4>
              <p>
                <%= t 'section_quotes.testimonial.a.p'%>
              </p>
            </div>

            <div class="testimonial-item">
              <h3><%= t 'section_quotes.testimonial.b.h3'%></h3>
              <h4><%= t 'section_quotes.testimonial.b.h4'%></h4>
              <p>
                <%= t 'section_quotes.testimonial.b.p'%>
              </p>
            </div>

            <div class="testimonial-item">
              <h3><%= t 'section_quotes.testimonial.c.h3'%></h3>
              <h4><%= t 'section_quotes.testimonial.c.h4'%></h4>
              <p>
                <%= t 'section_quotes.testimonial.c.p'%>
              </p>
            </div>

            <div class="testimonial-item">
              <h3><%= t 'section_quotes.testimonial.d.h3'%></h3>
              <h4><%= t 'section_quotes.testimonial.d.h4'%></h4>
              <p>
                <%= t 'section_quotes.testimonial.d.p'%>
              </p>
            </div>

            <div class="testimonial-item">
              <h3><%= t 'section_quotes.testimonial.e.h3'%></h3>
              <h4><%= t 'section_quotes.testimonial.e.h4'%></h4>
              <p>
                <%= t 'section_quotes.testimonial.e.p'%>
              </p>
            </div>

          </div>

        </div>
      </div>


    </div>
  </section><!-- #testimonials -->

  <!--==========================
    Team Section
  ============================-->
  <section id="team">
    <div class="container">
      <div class="section-header">
      <!--<h3>Team</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>  -->
      </div>  

      <div class="row">

        <div class="col-lg-3 col-md-6 wow fadeInUp">
          <div class="member">
            <%= image_tag ("img/team-p4.png"), class: "img-fluid"%>
            <div class="member-info">
              <div class="member-info-content">
                <!--<h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>  -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <%= image_tag ("img/team-p3.png"), class: "img-fluid"%>
            <div class="member-info">
              <div class="member-info-content">
                <!--<h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>  -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="member">
            <%= image_tag ("img/team-p5.png"), class: "img-fluid"%>
            <div class="member-info">
              <div class="member-info-content">
                <!--<h4>William Anderson</h4>
                <span>CTO</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>  -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="member">
            <%= image_tag ("img/team-p2.png"), class: "img-fluid"%>
            <div class="member-info">
              <div class="member-info-content">
                <!--<h4>Amanda Jepson</h4>
                <span>Accountant</span>
                  <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>  -->
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #team -->

  <!--==========================
    Technologies Section
  ============================-->
  <section id="clients" class="section-bg">

    <div class="container">

      <div class="section-header">
        <h3><%= t 'section_technologies.h3'%></h3>
        <p><%= t 'section_technologies.p'%></p>
      </div>

      <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <%= image_tag ("img/Rails.svg"), class: "img-fluid"%>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <%= image_tag ("img/Wordpress.png"), class: "img-fluid"%>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <%= image_tag ("img/Docker.png"), class: "img-fluid"%>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <%= image_tag ("img/Vue.svg"), class: "img-fluid"%>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <%= image_tag ("img/PostgreSQL.svg"), class: "img-fluid"%>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <%= image_tag ("img/React.svg"), class: "img-fluid"%>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <%= image_tag ("img/Nginx.svg"), class: "img-fluid"%>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <%= image_tag ("img/Node.svg"), class: "img-fluid"%>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <%= image_tag ("img/Javascript.png"), class: "img-fluid"%>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <%= image_tag ("img/Strapi.png"), class: "img-fluid"%>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <%= image_tag ("img/Python.svg"), class: "img-fluid"%>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <%= image_tag ("img/Odoo.svg"), class: "img-fluid"%>
          </div>
        </div>
      </div>

    </div>

  </section>

  <!--==========================
    Contact Section
  ============================-->
  <section id="contact">
    <div class="container-fluid">

      <div class="section-header">
        <h3><%= t 'section_contact.h3'%></h3>
      </div>

      <div class="row wow fadeInUp">

        <div class="col-lg-6">
          <div class="map mb-4 mb-lg-0" >
           <div id="map"></div>
              <%# <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7679.491781824357!2d5.438146650808376!3d36.20668047768116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sbg!4v1592563618870!5m2!1sen!2sbg" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe> %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-5 info">
              <i class="ion-ios-location-outline" style="color:#00366f;"></i>
              <p><%= t 'section_contact.info.location'%></p>
            </div>
            <div class="col-md-4 info">
              <i class="ion-ios-email-outline" style="color:#00366f;"></i>
              <p>contact@nextchallenge-dz.com</p>
            </div>
            <div class="col-md-3 info">
              <i class="ion-ios-telephone-outline" style="color:#00366f;"></i>
              <p>+213 552 56 96 54</p>
            </div>
          </div>

          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage">Sorry there is a problem</div>
            <form action="https://formspree.io/f/mvoddrqe" method="POST" role="form" class="contactForm">
            <%#= form_for @contact, html: { class: "contactForm" } do |f| %>
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="<%= t 'section_contact.form.name'%>" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <%#= f.text_field :name, placeholder: "#{t('section_contact.form.name')}", class: "form-control" %>
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input type="email" class="form-control" name="_replyto" id="email" placeholder="<%= t 'section_contact.form.email'%>" data-rule="email" data-msg="Please enter a valid email" />
                  <%#= f.text_field :email, placeholder: "#{t('section_contact.form.email')}", class: "form-control" %>
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="message" placeholder="<%= t 'section_contact.form.subject'%>" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <%#= f.text_field :subject, placeholder: "#{t('section_contact.form.subject')}", class: "form-control" %>
                <div class="validation"></div>
              </div>
              
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="<%= t 'section_contact.form.message'%>"></textarea>
                <%#= f.text_area :message, placeholder: "#{t('section_contact.form.message')}" ,class: 'form-control', rows: "5" %>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <%#= recaptcha_tags %>
                 <%#= f.hidden_field :nickname, class: 'form-control' %>
              </div>
              <div class="text-center"><button id="sendMessageButton" type="submit" title="Send Message"><%= t 'section_contact.form.button'%></button></div>
              <div class="text-center">
                <%#= f.submit "#{t('section_contact.form.button')}", class: "btn btn-primary" %>
              </div>
            </form>
            <%# end %>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #contact -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

         <div class="col-lg-4 col-md-6 footer-info">
          <h3><%= t 'footer.h3'%></h3>
          <p></p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4><%= t 'footer.h4'%></h4>
          <ul>
            <li><a href="#"><%= t 'footer.menu.home'%></a></li>
            <li><a href="#about"><%= t 'footer.menu.about_us'%></a></li>
            <li><a href="#services"><%= t 'footer.menu.services'%></a></li>
            <li><a href="#portfolio"><%= t 'footer.menu.portfolio'%></a></li>
            <%# <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li> %>
          </ul>
        </div>

        <div class="col-lg-6 col-md-6 footer-contact">
          <h4><%= t 'footer.contact.h4'%></h4>
          <p>
            <%= t 'footer.contact.address.p1'%> 
            <%= t 'footer.contact.address.p2'%><br>
            <%= t 'footer.contact.address.p3'%> <br>
            <strong><%= t 'footer.contact.phone'%>:</strong> <span dir="ltr">+213 552 56 96 54</span><br>
            <strong><%= t 'footer.contact.email'%>:</strong> contact@nextchallenge-dz.com<br>
            <strong><%= t 'footer.contact.activity'%>:</strong> <%= t 'footer.contact.strong'%><br>
          </p>

          <div class="social-links">
            <%# <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> %>
            <%# <a href="https://www.facebook.com/khaled.bouafia.50" class="facebook"><i class="fa fa-facebook"></i></a> %>
            <%# <a href="#" class="instagram"><i class="fa fa-instagram"></i></a> %>
            <%# <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a> %>
            <%# <a href="https://www.linkedin.com/in/khaled-bouafia-7b67aa184" class="linkedin"><i class="fa fa-linkedin"></i></a> %>
          </div>

        </div>

        <%# <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit"  value="Subscribe">
          </form>
        </div> %>

      </div>
    </div>
  </div>  

  <div class="container">
    <div class="copyright">
      &copy; <%= t 'copyright.copyright'%> <strong><%= t 'copyright.strong'%></strong>. <%= t 'copyright.rights'%>
    </div>
    <div class="credits">
      <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
      -->
      <%= t 'copyright.designed'%> <a href="https://bootstrapmade.com/"><%= t 'copyright.name'%></a>
    </div>
  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/6145d23b25797d7a89ffa242/1ffsbqeev';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>

<script>
   var map = L.map('map',{
        center: [36.19112, 5.41373],
        zoom: 12,
        fullscreenControl: true,
    });

    L.tileLayer('http://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
       attribution: 'Map data &copy; OpenStreetMap contributors',
       maxZoom: 12,
    }).addTo(map);

    var marker = L.marker([36.20668047768116, 5.438146650808376]).addTo(map);

    marker.bindPopup('<%= image_tag ("img/next_challenge.jpg"), style: 'height:100px;width:100px;'%>').openPopup();

</script>

<script>
  window.onbeforeunload = () => {
  for(const form of document.getElementsByTagName('form')) {
    form.reset();
  }
}
</script>